.my-activities__detail-info
    display: grid
    grid-template-column: 1fr 1fr   
    justify-items: start 

main
    height: 100vh
    
div
    display: grid
    grid-template-columns: 1fr 1fr

section
    padding: 20px

ul
    list-style-type: none

li 
    padding: 15px
    border: solid 1px lightgrey
    margin: 0px

.form__validation-message
    color: red