.my-activities__detail-info
    display: grid
    grid-template-column: 1fr 1fr   
    justify-items: start 

main
    height: 100vh
    
.my-activities__main-grid
    display: grid
    grid-template-columns: 1fr 1fr

section
    padding: 20px

my-activities__detail-info
    display: grid
    grid-template-columns: 1fr 1fr

span
    display: block
    text-align: start

.detail-info__group:nth-of-type(2)
    grid-column: 2/3

.detail-info__group
    margin-bottom: 30px
