.my-activities__detail-info
    display: grid
    grid-template-column: 1fr 1fr   
    justify-items: start 

main
    height: 100vh
    
div
    display: grid
    grid-template-columns: 1fr 1fr

section
    padding: 20px

.my-activities__detail-info
    display: flex
    flex-wrap: wrap

.detail-info__group
    flex-grow: 1
    text-align: start
    margin-bottom: 20px

.detail-info__group:last-of-type
    width: 100%


