main
    height: 100vh
    
div.home__main-grid
    display: grid
    grid-template-columns: 1fr 1fr

table
    border-collapse: collapse

td, th 
    padding: 10px
    text-align: start
    border: solid 1px lightgrey
    border-spacing: none

div.home__detail-info
    display: flex  
    justify-items: start 

span
    display: inline-block
    padding: 10px

section
    padding: 20px
