<main aria-labelledby="home-header">
    <h1 id="home-header">Home</h1>

    <section aria-labelledby="home-header">
        <h2 id="home-header">Activities</h2>
        <ul *ngFor="let activity of activities" title="Activities List" class="home__activities-list">
            <li (click)="selectActivity(activity.id)">
                <a>Show {{activity.name}} details</a>
            </li>
        </ul>
    </section>
    <section title="Activity Selected Details" aria-labelledby="home-activity-detail">
        <h2 id="home-activity-detail">Activity Detail</h2>
        <h3>{{activitySelected?.name}}</h3>
        <p>{{activitySelected?.description}}</p>
        <div class="home__detail-info">
            <span>Date: {{activitySelected?.date}}</span>
            <span>Language: {{activitySelected?.language}}</span>
            <span>Category: {{activitySelected?.category}}</span>
            <span>Subategory: {{activitySelected?.subcategory}}</span>
            <span>Price: {{activitySelected?.price}}</span>
            <span>State: {{activitySelected?.state || calculateState(activitySelected)}}</span>
            <span>Maximum Capacity: {{activitySelected?.maxEnrolled}}</span>
            <span>Minimum Capacity: {{activitySelected?.minEnrolled}}</span>
            <span>People Registered: {{activitySelected?.usersEnrolled}}</span>
        </div>
    </section>


</main>