.home__detail-info
    display: grid
    grid-template-column: 1fr 1fr   
    justify-items: start 

main
    height: 100vh
    
div
    display: grid
    grid-template-columns: 1fr 1fr

table
    border-collapse: collapse

td, th 
    padding: 10px
    text-align: start
    border: solid 1px lightgrey
    border-spacing: none

section
    padding: 20px