<main>
    <div class="home__main-grid">
        <section aria-labelledby="home-header">
            <h2 id="home-header">Activities List</h2>
            <table title="Activities List" class="home__activities-list">
                <thead>
                    <th>Name</th>
                    <th>Category</th>
                    <th>Price</th>
                    <th>Language</th>
                    <th>Date</th>
                    <th>Show Details</th>
                </thead>
                <tbody>
                    <tr *ngFor="let activity of activities">
                        <td>{{activity.name}}</td>
                        <td>{{activity.category}}</td>
                        <td>{{activity.price}}€</td>
                        <td>{{activity.language}}</td>
                        <td>{{activity.date}}</td>
                        <td><a (click)="selectActivity(activity.id)">Show {{activity.name}} details</a></td>
                    </tr>
                </tbody>

            </table>
        </section>
        <section title="Activity Selected Details" aria-labelledby="home-activity-detail">
            <h2>Activity Detail</h2>
            <div class="home__detail-info">
                <div class="detail-info__group">
                    <span>Name: {{activitySelected?.name}}</span>
                    <span>Description: {{activitySelected?.description}}</span>
                    <span>Language: {{activitySelected?.language}}</span>
                    <span>Date: {{activitySelected?.date}}</span></div>
                <div class="detail-info__group">
                    <span>Category: {{activitySelected?.category}}</span>
                    <span>Subategory: {{activitySelected?.subcategory}}</span>
                    <span>Price: {{activitySelected?.price}}</span>
                    <span>State: {{activitySelected?.state || calculateState(activitySelected)}}</span>
                </div>
                <div class="detail-info__group">
                    <span>Maximum Capacity: {{activitySelected?.maxEnrolled}}</span>
                    <span>Minimum Capacity: {{activitySelected?.minEnrolled}}</span>
                    <span>People Registered: {{activitySelected?.usersEnrolled}}</span>
                </div>
            </div>

            <p *ngIf="showErrorMsg">Already Signed Up</p>
            <p *ngIf="showSuccessMsg">You Signed Up To {{activitySelected?.name}}</p>

            <button *ngIf="this.user !== undefined && this.user.isAdmin == false"
                (click)="signUpToActivity(activitySelected?.id)">Sign Up To
                {{activitySelected?.name}}</button>

            <p *ngIf="favouriteError">This activity is on your favourites list already</p>
            <p *ngIf="favouriteSuccess">{{activitySelected?.name}} added to your favourites list</p>
            <button *ngIf="this.user !== undefined && this.user.isAdmin == false"
                (click)="addToFavourites(activitySelected.id)">Add to Favourites</button>
        </section>
    </div>

</main>