<section aria-describedby="education-header">
    <h2 id="education-header">Education</h2>
    <table>
        <thead>
            <tr>
                <th>Type</th>
                <th>Level</th>
                <th>Name</th>
                <th>University</th>
                <th>Finish Date</th>
                <th>Edit</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of user.education">
                <td>{{item.type}}</td>
                <td>{{item.level}}</td>
                <td>{{item.name}}</td>
                <td>{{item.university}}</td>
                <td>{{item.finishDate}}</td>
                <td><button class="update-education-btn" (click)="updateEducation($event)"
                        [attr.data-id]="item.id">Update</button>
                    <button class="update-education-btn" (click)="deleteEducation($event)"
                        [attr.data-id]="item.id">Delete</button>
                <td>

            </tr>
        </tbody>
    </table>
    <button (click)="addEducation()">Add Education</button>
</section>