<header>
    <a title="home">This is a logo</a>
    <nav id="main-navigation">
        <ul>
            <li *ngIf="!user"><a routerLink="/login">Sign In</a></li>
            <li *ngIf="!user"><a routerLink="/register">Join Now</a></li>
            <li *ngIf="user"><a routerLink="">Home</a></li>
            <li *ngIf="user?.isAdmin === true"><a routerLink="/admin">Admin</a></li>
            <li *ngIf="user && user.isAdmin == false"><a routerLink="/favourites">Favourites</a></li>
            <li *ngIf="user && user.isAdmin == false"><a routerLink="/my-activities">My Activities</a></li>
            <li *ngIf="user"><a routerLink="/profile">Profile</a></li>
            <li *ngIf="user"><a (click)="logOut()" tabindex="0">Log Out</a></li>
        </ul>
    </nav>
</header>