<main aria-labelledby="favourites-header">
    <h1 id="favourites-header">Favourites</h1>

    <div>
        <section aria-labelledby="favourites-list-header" *ngIf="!errorMessage && favouriteActivities?.length > 0"
            [attr.aria-hidden]="errorMessage">
            <h2 id="activities-list-header">Activities</h2>
            <ul title="Activities List" class="favourites__list">
                <li (click)="selectActivity(activity.id)" *ngFor="let activity of favouriteActivities">
                    <a>Show {{activity.name}} details</a>
                </li>
            </ul>
        </section>
        <section title="ActivitySelected Details" aria-labelledby="favourites-detail"
            [attr.aria-hidden]="!activitySelected" *ngIf="!errorMessage && favouriteActivities?.length > 0">
            <h2 id="favourites-detail">Activity Detail</h2>
            <h3>{{activitySelected? activitySelected.name: "Select An Activity"}}</h3>
            <p>{{activitySelected?.description}}</p>
            <div class="favourites__detail-info" *ngIf="activitySelected">
                <span>Date: {{activitySelected?.date}}</span>
                <span>Language: {{activitySelected?.language}}</span>
                <span>Category: {{activitySelected?.category}}</span>
                <span>Subategory: {{activitySelected?.subcategory}}</span>
                <span>Price: {{activitySelected?.price}}</span>
                <span>State: {{activitySelected?.state || calculateState(activitySelected)}}</span>
                <span>Maximum Capacity: {{activitySelected?.maxEnrolled}}</span>
                <span>Minimum Capacity: {{activitySelected?.minEnrolled}}</span>
                <span>People Registered: {{activitySelected?.usersEnrolled}}</span>
            </div>
            <!--  <button (click)="cancelActivity(activitySelected?.id)" *ngIf="activitySelected">Cancel
                {{activitySelected?.name}}</button> -->
        </section> -->

        <p *ngIf="errorMessage || favouriteActivities?.length < 1" [attr.aria-hidden]="!errorMessage">You Don't Have Any
            Enrolled
            Activities</p>
    </div>

</main>